on:
  release:
    types:
      - published
jobs:
  validate-node:
    name: 'Validate'
    uses: curium-rocks/flows/.github/workflows/node-ts.yml@main
    permissions:
      contents: read
      actions: read
      security-events: write
    secrets:
      SONARQUBE_KEY: ${{ secrets.SONARQUBE_KEY }}
  publish-to-npm:
    environment: npm
    runs-on: ubuntu-latest
    needs:
      - validate-node
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN }}
  promote-container-tag:
    runs-on: ubuntu-latest
    needs:
      - validate-node
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      # login to ghcr
      - name: Log into registry
        timeout-minutes: 5
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # skopeo to promote the tag
      - name: Promote Tag
        run: skopeo copy docker://ghcr.io/bryopsida/syslog-portal docker://ghcr.io/bryopsida/syslog-portal
